body{
  background-color:lightblue;
}

.App{
  background-color: lightblue;
  min-height: 80vh;
  width:400px;
  margin: 20px auto;
}

.crossed{
  text-decoration: line-through 2px rgb(222, 94, 14);
  background-color: #f0f0f0;
}

ul,li{
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn{
  padding: 10px;
  border: none;
  width: 70%;
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.btn-add{
  margin-top: 10px;
  background-color:rgb(20, 206, 144)
}

.btn-delete{
  margin-bottom: 15px;
  background-color:rgb(128, 20, 42)
}

input{
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}

img{
  border-radius: 50%;
}